body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

textarea.jsoneditor-text, .ace-jsoneditor  {
  min-height: 374px !important;
}
.jsoneditor {
  border: unset !important;
}

.jsoneditor-menu {
  display: none;

}